.container{
    height: 80px;
    width: auto;
    

}
.img{
    height: 80px;
    width: 80px;
    float: left;
}

.home{
    background-color: blue;
    height: 80px;
    width: 80px;
    float: right;
}
.contact{
    background-color: blue;
    height: 80px;
    width: 80px;
    float: right;
}
.about{
    background-color: blue;
    height: 80px;
    width: 80px;
    float: right;
}

.img1{
    height: 400px;
    width: 400px;
    float: left;

}
.para{
    background-color: blueviolet;
    height: 400px;
    width: 400px;
    float: right;
    text-align: center;
    
}
.container1{
    height: 400px;
    width: auto;
}
.button{
    height: 40px;
    width: fit-content;
    margin-top: 50px;

}
.container2{
    height: 400px;
    width: auto;
    border: 5px solid gray;
}
.embed{
    height: 400px;
    width: 400px;
    float: left;
}
.form{
    height: 400px;
    width: 400px;
    float: right;
    background-color: white;
}